[submodule "repos/centralnicgroup-opensource/rtldev-middleware-blesta"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-blesta
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-blesta.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-devcontainer-features"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-devcontainer-features
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-devcontainer-features.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-dnscontrol"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-dnscontrol
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-dnscontrol.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-dnscontrol-dnsconfig"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-dnscontrol-dnsconfig
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-dnscontrol-dnsconfig.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-go-sdk"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-go-sdk
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-go-sdk.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-idna-uts46"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-idna-uts46
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-idna-uts46.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-java-sdk"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-java-sdk
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-java-sdk.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-node-sdk"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-node-sdk
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-node-sdk.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-php-idna-translator"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-php-idna-translator
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-php-idna-translator.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-php-sdk"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-php-sdk
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-php-sdk.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-python-sdk"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-python-sdk
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-python-sdk.git
	branch = master
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-semantic-release-plugins"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-semantic-release-plugins
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-semantic-release-plugins.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-shareable-workflows"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-shareable-workflows
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-shareable-workflows.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-template"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-template
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-template.git
	branch = main
[submodule "repos/centralnicgroup-opensource/rtldev-middleware-whmcs"]
	path = repos/centralnicgroup-opensource/rtldev-middleware-whmcs
	url = https://github.com/centralnicgroup-opensource/rtldev-middleware-whmcs.git
	branch = main
[submodule "repos/centralnicgroup/rtldev-middleware-onboarding"]
	path = repos/centralnicgroup/rtldev-middleware-onboarding
	url = https://github.com/centralnicgroup/rtldev-middleware-onboarding.git
	branch = main
[submodule "repos/centralnicgroup/rtldev-middleware-whmcs-src"]
	path = repos/centralnicgroup/rtldev-middleware-whmcs-src
	url = https://github.com/centralnicgroup/rtldev-middleware-whmcs-src.git
	branch = main
